.services {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg/serBg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    padding: 50px;
  }

}

.services__wrapper {
  width: 292px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: 768px) {
    width: 708px;
  }

  @media (min-width: 1200px) {
    width: 1118px;
  }
}

.services__tittle {
  margin-bottom: 25px;
  font-family: 'Helvetica Neue';

  @media (min-width: 768px) {
    margin-bottom: 30px;
    width: fit-content;
  }
}

.tilesWrap {
  padding: 0;
  margin: 15px auto;
  list-style: none;
  text-align: center;

}

.tilesWrap li {
  display: inline-block;
  width: 20%;
  min-width: 200px;
  max-width: 230px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 20px;
  font-family: 'Helvetica Neue';
  min-height: 25vh;
  background: #262a2b;
  border: 1px solid #252727;
  text-align: left;

  &:hover {
    transform: scale(1.1);
  }

}

.tilesWrap li h2 {
  font-size: 114px;
  margin: 0;
  position: absolute;
  opacity: 0.2;


  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}

.tilesWrap li h3 {
  font-size: 20px;
  position: absolute;
  color: $secondary-gold;
  margin-bottom: 10px;
  @media (min-width: 1200px) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 25px;
  }
}

.tilesWrap li p {
  font-size: 16px;
  line-height: 22px;
  color: #b7b7b7;
  margin-top: 65px;    

  @media (min-width: 1200px) {
    font-size: 20px;
    line-height: 28px;
  }

}

.tilesWrap li button {
  background: transparent;
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  color: #b7b7b7;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}

.tilesWrap li button:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 120%;
  background: #b7b7b7;
  top: 0;
  opacity: 0;
  left: -140px;
  border-radius: 0 20px 20px 0;

  transition: all 0.3s ease-in-out;

}


.tilesWrap li:hover h2 {
  top: 0px;
}

.tilesWrap li:hover h3 {
  text-align: center;
}

.text-service {
  text-align: center;
  font-weight: normal;
  margin-top: 10px;
  font-size: 18px;
  color: white;
  font-family: 'Helvetica Neue';

  @media (min-width: 1200px) {
    font-size: 26px;
    line-height: 32px;
  }

}

.tilesWrap li:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);

}

.tilesWrap__title {
  padding-bottom: 13px;
}

.tilesWrap_descriprion {

  padding-bottom: 28px;

}

.tilesWrap_descriprion3 {

  padding-bottom: 84px;

}

.tilesWrap_descriprion_ru {

  padding-bottom: 56px;

}
